# Секреты и конфигурация
.env
config.py # Если там есть реальные токены, лучше вынести их в .env

# База данных
*.db
*.sqlite3

# Виртуальное окружение Python
venv/
.venv/
env/

# Кэш и временные файлы Python
__pycache__/
*.py[cod]
*$py.class

# IDE и редакторы
.idea/
.vscode/
*.swp
*.swo

# Логи
*.log